<h1 appMarcaTexto corDeFundo="red" corDoTexto="black" class="text-sucess text-center">angular diretivas</h1>

<!-- diretivas de atributos mudam a cor, stilo, etc -->
<div 
  [ngStyle]="{background: count < 3? 'green' : 'red'}"
  [ngClass]="{custom: count > 3}"
  
  >

  <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!-- diretivas estruturais mudam a estrutura da aplicação -->
<h2 *ngIf="count > 6; else menor">O contador passou de 6!</h2>
<!-- *ngIf só aparece quando a condição for true (* cria um tamplate automátio, resumo) -->
<ng-template #menor>
  <h2>O contador é menor que 6!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-4">
  <li 
    class="list-group-item"
    *ngSwitchCase="2"
  >
   É IGUAL A 2
  </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="5"
  >
   É IGUAL A 5
  </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="6"
  >
   É IGUAL A 6
  </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="9"
  >
   É IGUAL A 9
  </li>
  <li 
    class="list-group-item"
    *ngSwitchDefault
  >
   ESSE É O DEFAUT
  </li>
</ul>

<ul class="list-group mx-auto col-4">
  <li 
     class="list-group-item"
     *ngFor="let pessoa of pessoas"
     >
      O nome e profissao da pessoa é {{ pessoa.nome }} {{pessoa.profissao}}
  </li>
</ul>

<!-- para exibir a variavel nome  -->
<!-- fazendo um bidding direcional da lógica para o tamplete -->
<!-- propriedade colocar dentro de {} e valor {{}} (double bustache) -->

<div class="col-4 mx-auto my-3">
<h3 appMarcaTexto corDeFundo="red" corDoTexto="black">{{ nome }}</h3>
<!-- mandar do html para logica  -->
<button class="btn btn-success col 4 mx-auto" (click)="clicou('Rosangela')">Clique</button>
</div>

<!-- two-way Data Binding  (comunicação entre os dois lados) (tamplate lógica e lógica tamplate)-->
<!-- mandar do TS para o HTML (da logica para o tamplete) usa [] colchetes
mandar do html para o TS (do tamplate para a logica) usa () parenteses 
data biden [()] - [(NgModel)] -->
<div class="col-4 mx-auto">
  <input 
  type="text" class="form-control" 
  [(ngModel)]="text"
  placeholder="Digite alguma coisa"
  >
  <h4>Saida: {{ text }}</h4>
</div>
 <!-- ngGenerate ajuda a criar estruturas do angulas  -->


  



